* {box-sizing: border-box;}
body{
    background-color:black;
    margin: 8px;
}

/*HOME PAGE STYLE*/
@media only screen and (max-width: 600px) {
/* FOR PHONE */
    .homeWelcRow{
        height:88vh;
        align-items:center;
        /*border:1px solid blue;*/
    }
    .homeWelcBox{
        width: 80%;
        /*border:1px solid red;*/
    }
    .homeButtonsRow{
      height:10vh;
      align-items:center;
      /*border:1px solid blue;*/
    }
    .homeButtonsBox{
      display:flex;
      justify-content:space-evenly;
      align-items:center;
      width:80%;
      /*border:1px solid red;*/
    }
    .goGallery{width:80%;}
}

/* BASIC ELEMENTS */
.main{
    background: #FDEEEE; 
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
}
.col{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex: 1;
    justify-content:center;
    align-items:center;
}
.bttn{
    background: White;
    opacity: 0.7;
    font-weight:bold;
    text-decoration: none;
}
.bttn:hover{background-color: #3399CC;}
.bttn:active{font-size:40px;}
.cell{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    font-family: Arial, Helvetica, sans-serif;
    padding:2vmin;
    border: 5px solid black;
}
.ocell{
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    font-family: Arial, Helvetica, sans-serif;
    padding:2vmin;
}

