.SelectionBox {
    display:grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
    position: relative;
    height: 925px;
    background: #FDEEEE;
    border: 5px solid black;
    text-decoration: none;
    height:99vh;
    width:98vw;
}
a{
    color: Black;
}
.cell{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(14px + 2vmin);
    font-weight:bold;
}
.contentAreaBox{
    display:flex;
    flex-wrap:wrap;
    grid-area:2/2/5/5;
    justify-content:space-around;
    align-items:center;
}
.choicePicArea{
    background: #E3E0E0;
    opacity: 0.7;
    border: 5px solid black;
    width:44%;
    height:90%;
}
.descrAreaBox{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:44%;
    height:90%;
}
.descrTextArea{
    width:100%;
    height:60%;
    font-size:44px;
}
.descrButtonArea{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:98%;
    height:20%;
}
.noChoiceButton{
    background: #E3E0E0;
    opacity: 0.7;
    border: 5px solid black;
    width:50%;
    height:100%;
    margin:4px;
    text-decoration: none;   
}
.noChoiceButton:hover{background-color: #3399CC;}
.noChoiceButton:active{font-size:44px;}
.yesChoiceButton{
    background: #E3E0E0;
    opacity: 0.7;
    border: 5px solid black;
    width:50%;
    height:100%;
    margin:4px;    
    text-decoration: none; 
}
.yesChoiceButton:hover{background-color: #3399CC;}
.yesChoiceButton:active{font-size:44px;}

